/*
 * Copyright (c) 2022, Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

 #include <common/nordic_nrf_next/nrfx_ram3x_dma.dtsi>

 /{
	chosen {
		/delete-property/ nordic,bellboard-cpuapp;
		/delete-property/ nordic,bellboard-cpunet;
		/delete-property/ nordic,bellboard-cpusec;
		zephyr,console = &uart135;
	};

	ipc_to_cpusys: ipc_to_cpusys {
		compatible = "zephyr,ipc-icmsg";
		tx-region = <&ipc_shm_cpuapp_cpusys>;
		rx-region = <&ipc_shm_cpusys_cpuapp>;
		mboxes = <&mbox_remote 12>,
			 <&mbox_local 6>;
		mbox-names = "tx", "rx";
		status = "okay";
	};
};

/* ram3x_cpuapp buffer is used by App core UART driver. */
&ram3x_cpuapp {
	status = "okay";
};

&uart135 {
	status = "okay";
	memory-regions = <&ram3x_cpuapp>;
	tx-pin = <7>;
	rx-pin = <6>;
};

&global_peripherals {
	/delete-node/ bellboard@9a000;
	/delete-node/ vevif@8c8000;
	/delete-node/ vevif@8d4000;
	/delete-node/ vevif@908000;

	mbox_remote: vevif@8c8000 {
		compatible = "nordic,mbox-nrf-ids";
		reg = <0x8c8000 0x1000>;
		domain = <NRF_IDS_DOMAIN_SYSCTRL>;
		status = "okay";
		#mbox-cells = <1>;
	};

	mbox_local: bellboard0@9a000 {
		compatible = "nordic,mbox-nrf-ids";
		reg = <0x9a000 0x1000>;
		interrupts = <96 NRF_DEFAULT_IRQ_PRIORITY>;
		instance = <0>;
		status = "okay";
		#mbox-cells = <1>;
	};
};
