# nRF5 temperature sensor configuration options

# Copyright (c) 2016 ARM Ltd.
# Copyright (c) 2022 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config TEMP_NRF5_FORCE_ALT
	bool
	depends on SOC_COMPATIBLE_NRF
	help
	  This option can be enabled to force an alternative implementation
	  of the temperature sensor driver.

config TEMP_NRF5
	bool "nRF5 Temperature Sensor"
	default y
	depends on DT_HAS_NORDIC_NRF_TEMP_ENABLED || DT_HAS_NORDIC_NRF_TEMP_NRFS_ENABLED
	depends on HAS_HW_NRF_TEMP || (NRFS && HAS_NRF_TEMP_NRFS)
	depends on MULTITHREADING || TEMP_NRF5_FORCE_ALT
	help
	  Enable driver for nRF5 temperature sensor.

config TEMP_NRF5_TRIGGER
	bool "Trigger mode"
	depends on TEMP_NRF5
	help
	  Enable trigger support for the TEMP_NRF5 sensor.

if TEMP_NRF5_TRIGGER

config TEMP_NRF5_TRIGGER_THREAD_STACK_SIZE
	int "Thread stack size"
	default 1024
	help
	  Stack size of thread used by the driver to handle event.

config TEMP_NRF5_TRIGGER_THREAD_PRIO
	int "Thread priority"
	default 10
	help
	  Priority of thread used by the driver to handle event. This is used through
	  K_PRIO_COOP(x), that means higher value gives lower priority.

endif # TEMP_NRF5_TRIGGER
