# nRF5 temperature sensor configuration options

# Copyright (c) 2016 ARM Ltd.
# Copyright (c) 2022 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config TEMP_NRF5_FORCE_ALT
	bool
	depends on SOC_COMPATIBLE_NRF
	help
	  This option can be enabled to force an alternative implementation
	  of the temperature sensor driver.

config TEMP_NRF5
	bool "nRF5 Temperature Sensor"
	default y
	depends on DT_HAS_NORDIC_NRF_TEMP_ENABLED
	depends on HAS_HW_NRF_TEMP || (NRFS && HAS_NRF_TEMP_NRFS)
	depends on MULTITHREADING || TEMP_NRF5_FORCE_ALT
	help
	  Enable driver for nRF5 temperature sensor.

config TEMP_NRF5_TRIGGER
	bool "Trigger support"
	depends on TEMP_NRF5
	default y
	help
	  Enable trigger support for the TEMP_NRF5 sensor.

if TEMP_NRF5_TRIGGER

config TEMP_NRF5_TRIGGER_THREAD_STACK_SIZE
	int "Stack size for the trigger workqueue thread"
	default 512
	help
	  Size of the stack used for the internal trigger workqueue thread.

config TEMP_NRF5_TRIGGER_THREAD_PRIO
	int "Priority for the trigger workqueue thread"
	default -16
	help
	  Priority level for the internal trigger workqueue thread.

endif # TEMP_NRF5_TRIGGER
