# Copyright (c) 2021, Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

DT_COMPAT_NORDIC_NRF_QDEC := nordic,nrf-qdec

config QDEC_$(nrfx_qdec_num)_NRFX
	def_bool $(dt_nodelabel_has_compat,qdec$(nrfx_qdec_num),$(DT_COMPAT_NORDIC_NRF_QDEC))
