/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <common/nordic_nrf_next/nrfx_bellboard_instances.dtsi>

/ {
	chosen {
		zephyr,ipc_shm = &gram;
		zephyr,ipc = &bellboard0;
	};

	gram: memory@2f000000 {
		compatible = "mmio-sram";
		reg = <0x2f000000 0x8000>;
	};
};
