/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		zephyr,ipc_shm = &gram;
		zephyr,ipc = &bellboard0;
	};

	gram: memory@3F000000 {
		compatible = "mmio-sram";
		reg = <0x3F000000 0x8000>;
	};
};
