# nrfx I2C support

# Copyright (c) 2018, Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

menuconfig I2C_NRFX
	bool "nRF TWI nrfx drivers"
	default y
	depends on SOC_FAMILY_NRF
	help
	  Enable support for nrfx TWI drivers for nRF MCU series.

if I2C_NRFX

config I2C_NRFX_TRANSFER_TIMEOUT
	int "Transfer timeout [ms]"
	default 500
	help
	  Timeout in milliseconds used for each I2C transfer.
	  0 means that the driver should use the K_FOREVER value,
	  i.e. it should wait as long as necessary.

config I2C_0_NRF_TWI
	def_bool HAS_HW_NRF_TWI0
	select NRFX_TWI0
	help
	  Enable nRF TWI Master without EasyDMA on port 0.

config I2C_0_NRF_TWIM
	def_bool HAS_HW_NRF_TWIM0
	select NRFX_TWIM0
	help
	  Enable nRF TWI Master with EasyDMA on port 0.
	  This peripheral accepts transfers from RAM only,
	  if provided buffer is placed in flash, transfer will fail.

config I2C_1_NRF_TWI
	def_bool HAS_HW_NRF_TWI1
	select NRFX_TWI1
	help
	  Enable nRF TWI Master without EasyDMA on port 1.

config I2C_1_NRF_TWIM
	def_bool HAS_HW_NRF_TWIM1
	select NRFX_TWIM1
	help
	  Enable nRF TWI Master with EasyDMA on port 1.
	  This peripheral accepts transfers from RAM only,
	  if provided buffer is placed in flash, transfer will fail.

config I2C_2_NRF_TWIM
	def_bool HAS_HW_NRF_TWIM2
	select NRFX_TWIM2
	help
	  Enable nRF TWI Master with EasyDMA on port 2.
	  This peripheral accepts transfers from RAM only,
	  if provided buffer is placed in flash, transfer will fail.

config I2C_3_NRF_TWIM
	def_bool HAS_HW_NRF_TWIM3
	select NRFX_TWIM3
	help
	  Enable nRF TWI Master with EasyDMA on port 3.
	  This peripheral accepts transfers from RAM only,
	  if provided buffer is placed in flash, transfer will fail.

config I2C_20_NRF_TWIM
	def_bool HAS_HW_NRF_TWIM20
	select NRFX_TWIM20
	help
	  Enable nRF TWI Master with EasyDMA on port 20.
	  This peripheral accepts transfers from RAM only,
	  if provided buffer is placed in flash, transfer will fail.

config I2C_21_NRF_TWIM
	def_bool HAS_HW_NRF_TWIM21
	select NRFX_TWIM21
	help
	  Enable nRF TWI Master with EasyDMA on port 21.
	  This peripheral accepts transfers from RAM only,
	  if provided buffer is placed in flash, transfer will fail.

config I2C_22_NRF_TWIM
	def_bool HAS_HW_NRF_TWIM22
	select NRFX_TWIM22
	help
	  Enable nRF TWI Master with EasyDMA on port 22.
	  This peripheral accepts transfers from RAM only,
	  if provided buffer is placed in flash, transfer will fail.

config I2C_30_NRF_TWIM
	def_bool HAS_HW_NRF_TWIM30
	select NRFX_TWIM30
	help
	  Enable nRF TWI Master with EasyDMA on port 30.
	  This peripheral accepts transfers from RAM only,
	  if provided buffer is placed in flash, transfer will fail.

config I2C_120_NRF_TWIM
	def_bool HAS_HW_NRF_TWIM120
	select NRFX_TWIM120
	help
	  Enable nRF TWI Master with EasyDMA on port 120.
	  This peripheral accepts transfers from RAM only,
	  if provided buffer is placed in flash, transfer will fail.

config I2C_130_NRF_TWIM
	def_bool HAS_HW_NRF_TWIM130
	select NRFX_TWIM130
	help
	  Enable nRF TWI Master with EasyDMA on port 130.
	  This peripheral accepts transfers from RAM only,
	  if provided buffer is placed in flash, transfer will fail.

config I2C_131_NRF_TWIM
	def_bool HAS_HW_NRF_TWIM131
	select NRFX_TWIM131
	help
	  Enable nRF TWI Master with EasyDMA on port 131.
	  This peripheral accepts transfers from RAM only,
	  if provided buffer is placed in flash, transfer will fail.

config I2C_132_NRF_TWIM
	def_bool HAS_HW_NRF_TWIM132
	select NRFX_TWIM132
	help
	  Enable nRF TWI Master with EasyDMA on port 132.
	  This peripheral accepts transfers from RAM only,
	  if provided buffer is placed in flash, transfer will fail.

config I2C_133_NRF_TWIM
	def_bool HAS_HW_NRF_TWIM133
	select NRFX_TWIM133
	help
	  Enable nRF TWI Master with EasyDMA on port 133.
	  This peripheral accepts transfers from RAM only,
	  if provided buffer is placed in flash, transfer will fail.

config I2C_134_NRF_TWIM
	def_bool HAS_HW_NRF_TWIM134
	select NRFX_TWIM134
	help
	  Enable nRF TWI Master with EasyDMA on port 134.
	  This peripheral accepts transfers from RAM only,
	  if provided buffer is placed in flash, transfer will fail.

config I2C_135_NRF_TWIM
	def_bool HAS_HW_NRF_TWIM135
	select NRFX_TWIM135
	help
	  Enable nRF TWI Master with EasyDMA on port 135.
	  This peripheral accepts transfers from RAM only,
	  if provided buffer is placed in flash, transfer will fail.

config I2C_136_NRF_TWIM
	def_bool HAS_HW_NRF_TWIM136
	select NRFX_TWIM136
	help
	  Enable nRF TWI Master with EasyDMA on port 136.
	  This peripheral accepts transfers from RAM only,
	  if provided buffer is placed in flash, transfer will fail.

config I2C_137_NRF_TWIM
	def_bool HAS_HW_NRF_TWIM137
	select NRFX_TWIM137
	help
	  Enable nRF TWI Master with EasyDMA on port 137.
	  This peripheral accepts transfers from RAM only,
	  if provided buffer is placed in flash, transfer will fail.

endif # I2C_NRFX
