# nrfx UART configuration

# Copyright (c) 2016 - 2018, Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

menuconfig UART_NRFX
	bool "nRF UART nrfx drivers"
	default y
	select SERIAL_HAS_DRIVER
	select SERIAL_SUPPORT_INTERRUPT
	select SERIAL_SUPPORT_ASYNC if !SOC_PLATFORM_HALTIUM
	depends on SOC_FAMILY_NRF
	help
	  Enable support for nrfx UART drivers for nRF MCU series.
	  Peripherals with the same instance ID cannot be used together,
	  e.g. UART_0 and UARTE_0.

if UART_NRFX

config UART_ASYNC_TX_CACHE_SIZE
	int "TX cache buffer size"
	depends on UART_ASYNC_API
	depends on NRF_UARTE_PERIPHERAL
	default 8
	help
	  For UARTE, TX cache buffer is used when provided TX buffer is not located
	  in RAM, because EasyDMA in UARTE peripherals can only transfer data
	  from RAM.

nrfx_uart_num = 0
rsource "Kconfig.nrfx_uart_instance"
nrfx_uart_num = 1
rsource "Kconfig.nrfx_uart_instance"
nrfx_uart_num = 2
rsource "Kconfig.nrfx_uart_instance"
nrfx_uart_num = 3
rsource "Kconfig.nrfx_uart_instance"
nrfx_uart_num = 00
rsource "Kconfig.nrfx_uart_instance"
nrfx_uart_num = 20
rsource "Kconfig.nrfx_uart_instance"
nrfx_uart_num = 21
rsource "Kconfig.nrfx_uart_instance"
nrfx_uart_num = 22
rsource "Kconfig.nrfx_uart_instance"
nrfx_uart_num = 30
rsource "Kconfig.nrfx_uart_instance"
nrfx_uart_num = 130
rsource "Kconfig.nrfx_uart_instance"
nrfx_uart_num = 131
rsource "Kconfig.nrfx_uart_instance"
nrfx_uart_num = 132
rsource "Kconfig.nrfx_uart_instance"
nrfx_uart_num = 133
rsource "Kconfig.nrfx_uart_instance"
nrfx_uart_num = 134
rsource "Kconfig.nrfx_uart_instance"
nrfx_uart_num = 135
rsource "Kconfig.nrfx_uart_instance"
nrfx_uart_num = 136
rsource "Kconfig.nrfx_uart_instance"
nrfx_uart_num = 137
rsource "Kconfig.nrfx_uart_instance"

config NRFX_TIMER0
	default y
	depends on UART_0_NRF_HW_ASYNC_TIMER = 0 || UART_1_NRF_HW_ASYNC_TIMER = 0 || \
		   UART_2_NRF_HW_ASYNC_TIMER = 0 || UART_3_NRF_HW_ASYNC_TIMER = 0 || \
		   UART_130_NRF_HW_ASYNC_TIMER = 0 || UART_131_NRF_HW_ASYNC_TIMER = 0 || \
		   UART_132_NRF_HW_ASYNC_TIMER = 0 || UART_133_NRF_HW_ASYNC_TIMER = 0 || \
		   UART_134_NRF_HW_ASYNC_TIMER = 0 || UART_135_NRF_HW_ASYNC_TIMER = 0 || \
		   UART_136_NRF_HW_ASYNC_TIMER = 0 || UART_137_NRF_HW_ASYNC_TIMER = 0 || \
		   UART_00_NRF_HW_ASYNC_TIMER = 0 || UART_20_NRF_HW_ASYNC_TIMER = 0 || \
		   UART_21_NRF_HW_ASYNC_TIMER = 0 || UART_22_NRF_HW_ASYNC_TIMER = 0 || \
		   UART_30_NRF_HW_ASYNC_TIMER = 0

config NRFX_TIMER1
	default y
	depends on UART_0_NRF_HW_ASYNC_TIMER = 1 || UART_1_NRF_HW_ASYNC_TIMER = 1 || \
		   UART_2_NRF_HW_ASYNC_TIMER = 1 || UART_3_NRF_HW_ASYNC_TIMER = 1 || \
		   UART_130_NRF_HW_ASYNC_TIMER = 1 || UART_131_NRF_HW_ASYNC_TIMER = 1 || \
		   UART_132_NRF_HW_ASYNC_TIMER = 1 || UART_133_NRF_HW_ASYNC_TIMER = 1 || \
		   UART_134_NRF_HW_ASYNC_TIMER = 1 || UART_135_NRF_HW_ASYNC_TIMER = 1 || \
		   UART_136_NRF_HW_ASYNC_TIMER = 1 || UART_137_NRF_HW_ASYNC_TIMER = 1 || \
		   UART_00_NRF_HW_ASYNC_TIMER = 1 || UART_20_NRF_HW_ASYNC_TIMER = 1 || \
		   UART_21_NRF_HW_ASYNC_TIMER = 1 || UART_22_NRF_HW_ASYNC_TIMER = 1 || \
		   UART_30_NRF_HW_ASYNC_TIMER = 1

config NRFX_TIMER2
	default y
	depends on UART_0_NRF_HW_ASYNC_TIMER = 2 || UART_1_NRF_HW_ASYNC_TIMER = 2 || \
		   UART_2_NRF_HW_ASYNC_TIMER = 2 || UART_3_NRF_HW_ASYNC_TIMER = 2 || \
		   UART_130_NRF_HW_ASYNC_TIMER = 2 || UART_131_NRF_HW_ASYNC_TIMER = 2 || \
		   UART_132_NRF_HW_ASYNC_TIMER = 2 || UART_133_NRF_HW_ASYNC_TIMER = 2 || \
		   UART_134_NRF_HW_ASYNC_TIMER = 2 || UART_135_NRF_HW_ASYNC_TIMER = 2 || \
		   UART_136_NRF_HW_ASYNC_TIMER = 2 || UART_137_NRF_HW_ASYNC_TIMER = 2 || \
		   UART_00_NRF_HW_ASYNC_TIMER = 2 || UART_20_NRF_HW_ASYNC_TIMER = 2 || \
		   UART_21_NRF_HW_ASYNC_TIMER = 2 || UART_22_NRF_HW_ASYNC_TIMER = 2 || \
		   UART_30_NRF_HW_ASYNC_TIMER = 2

config NRFX_TIMER3
	default y
	depends on UART_0_NRF_HW_ASYNC_TIMER = 3 || UART_1_NRF_HW_ASYNC_TIMER = 3 || \
		   UART_2_NRF_HW_ASYNC_TIMER = 3 || UART_3_NRF_HW_ASYNC_TIMER = 3 || \
		   UART_130_NRF_HW_ASYNC_TIMER = 3 || UART_131_NRF_HW_ASYNC_TIMER = 3 || \
		   UART_132_NRF_HW_ASYNC_TIMER = 3 || UART_133_NRF_HW_ASYNC_TIMER = 3 || \
		   UART_134_NRF_HW_ASYNC_TIMER = 3 || UART_135_NRF_HW_ASYNC_TIMER = 3 || \
		   UART_136_NRF_HW_ASYNC_TIMER = 3 || UART_137_NRF_HW_ASYNC_TIMER = 3 || \
		   UART_00_NRF_HW_ASYNC_TIMER = 3 || UART_20_NRF_HW_ASYNC_TIMER = 3 || \
		   UART_21_NRF_HW_ASYNC_TIMER = 3 || UART_22_NRF_HW_ASYNC_TIMER = 3 || \
		   UART_30_NRF_HW_ASYNC_TIMER = 3

config NRFX_TIMER4
	default y
	depends on UART_0_NRF_HW_ASYNC_TIMER = 4 || UART_1_NRF_HW_ASYNC_TIMER = 4 || \
		   UART_2_NRF_HW_ASYNC_TIMER = 4 || UART_3_NRF_HW_ASYNC_TIMER = 4 || \
		   UART_130_NRF_HW_ASYNC_TIMER = 4 || UART_131_NRF_HW_ASYNC_TIMER = 4 || \
		   UART_132_NRF_HW_ASYNC_TIMER = 4 || UART_133_NRF_HW_ASYNC_TIMER = 4 || \
		   UART_134_NRF_HW_ASYNC_TIMER = 4 || UART_135_NRF_HW_ASYNC_TIMER = 4 || \
		   UART_136_NRF_HW_ASYNC_TIMER = 4 || UART_137_NRF_HW_ASYNC_TIMER = 4 || \
		   UART_00_NRF_HW_ASYNC_TIMER = 4 || UART_20_NRF_HW_ASYNC_TIMER = 4 || \
		   UART_21_NRF_HW_ASYNC_TIMER = 4 || UART_22_NRF_HW_ASYNC_TIMER = 4 || \
		   UART_30_NRF_HW_ASYNC_TIMER = 4

config UARTE_NRF_HW_ASYNC
	def_bool y
	depends on UART_0_NRF_HW_ASYNC || UART_1_NRF_HW_ASYNC || UART_2_NRF_HW_ASYNC || \
			   UART_3_NRF_HW_ASYNC || UART_130_NRF_HW_ASYNC || UART_131_NRF_HW_ASYNC || \
			   UART_132_NRF_HW_ASYNC || UART_133_NRF_HW_ASYNC || UART_134_NRF_HW_ASYNC || \
			   UART_135_NRF_HW_ASYNC || UART_136_NRF_HW_ASYNC || UART_00_NRF_HW_ASYNC || \
			   UART_20_NRF_HW_ASYNC || UART_21_NRF_HW_ASYNC || UART_22_NRF_HW_ASYNC || \
			   UART_30_NRF_HW_ASYNC
	select NRFX_PPI if HAS_HW_NRF_PPI
	select NRFX_DPPI if HAS_HW_NRF_DPPIC

config UART_ENHANCED_POLL_OUT
	def_bool y
	depends on UART_0_ENHANCED_POLL_OUT || UART_1_ENHANCED_POLL_OUT || \
			   UART_2_ENHANCED_POLL_OUT || UART_3_ENHANCED_POLL_OUT || \
			   UART_130_ENHANCED_POLL_OUT || UART_131_ENHANCED_POLL_OUT || \
			   UART_132_ENHANCED_POLL_OUT || UART_133_ENHANCED_POLL_OUT || \
			   UART_134_ENHANCED_POLL_OUT || UART_135_ENHANCED_POLL_OUT || \
			   UART_136_ENHANCED_POLL_OUT || UART_00_ENHANCED_POLL_OUT || \
			   UART_20_ENHANCED_POLL_OUT || UART_21_ENHANCED_POLL_OUT || \
			   UART_22_ENHANCED_POLL_OUT || UART_30_ENHANCED_POLL_OUT
	select NRFX_PPI if HAS_HW_NRF_PPI
	select NRFX_DPPI if HAS_HW_NRF_DPPIC

config NRF_UART_PERIPHERAL
	bool

config NRF_UARTE_PERIPHERAL
	bool

endif # UART_NRFX
