/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/ {
	chosen {
		zephyr,ipc_shm = &gram00;
		zephyr,ipc = &bellboard0;
	};
};

&bellboard0 {
	status = "okay";
};
